
@model TraineeResultViewModel
<h2 style="color:@Model.Color">Traine Name: @Model.TraineeName</h2>
<h2 style="color:@Model.Color">Cource Name: @Model.CourseName</h2>
<h2 style="color:@Model.Color">Degree: @Model.Degree</h2>